<!DOCTYPE html>
<html>
<head>
    <title>Listado de Cursos</title>
</head>
<body>
    <h1>Listado de Cursos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre del Curso</th>
            <th>ID del Estudiante</th>
        </tr>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso[0] }}</td>
            <td>{{ curso[1] }}</td>
            <td>{{ curso[2] }}</td>
            <td>{{ curso[3] }}</td>
            <td>{{ curso[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
